header h1 {
    background: url("bg1.jpg") left / auto 100% no-repeat, url("bg1.jpg") right / auto 100% no-repeat;
    font-size: 2.75em;
    color: gold;
    text-shadow: 4px 4px 3px #666;

}
.root {
    font-size: larger;

}

img.main-image {
    width: 300px;
}

img.additional-image {
    width: 180px;
}

