{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h2>Последние 10 новостей</h2>
    {% if aks %}
        <ul class="list-unstyled">
            {% for ak in aks %}
                <li class="media my-5 p-3 border">
                    {% url 'main:detail' rubric_pk=ak.rubric_pk pk=ak.pk as url %}
                    <a href="{{ url }}{{ all }}">
                        {% if ak.image %}
                            <img class="mr-3" src="{% thumbnail ak.image 'default' %}">
                        {% else %}
                            <img class="mr-3" src="{% static 'main/empty.jpeg' %}">
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <h3><a href="{{ url }}{{ all }}">{{ ak.title }}</a> </h3>
                        <div>{{ ak.content }}</div>
                        <p class="text-right font-weight-bold">{{ ak.price }} руб.</p>
                        <p class="text-right font-italic">{{ ak.created_at }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
